{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}smatter{% endblock %}
<!--contents-->
{% block contents %}
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <!--List contents-->
        <div class="small-12 medium-8 large-8 cell" style="">
            {% if tag %}
                <div class="callout">
                    <h5 style="color:#808080;">包含【{{ tag }}】标签的文章列表(共有{{ posts_count }}篇)</h5>
                </div>
            {% endif %}
            {% if cate %}
                <div class="callout">
                    <h5 style="color:#808080;">【{{ cate }}】分类下的文章列表(共有{{ posts_count }}篇)</h5>
                </div>
            {% endif %}

            {% for post in posts %}
            <div class="callout">

                <h4><a href="{{ post.get_absolute_url }}" target="_blank">{{ post.title }}</a></h4>
                <div class="grid-x grid-padding-x">
                    <div class="medium-4 large-4 cell hide-for-small-only">
                    {% if post.post_thumb %}
                        {% thumbnail post.post_thumb '186x90' crop="80% top" as im %}
                        <img src="{{ im.url }}">
                        {% endthumbnail %}
                    {% else %}
                        {% thumbnail '' '186x90' crop="80% top" as im %}
                        <img src="{% static 'img/thumb-default-01.gif' %}">
                        {% endthumbnail %}
                        <img src="{% static 'img/thumb-default-01.gif' %}">
                    {% endif %}
                    </div>
                    <div class="small-12 medium-8 large-8 cell">
                       {{ post.body|striptags|safe|truncatechars:49|linebreaks }}
                    </div>
                </div>
                <span class=""><i class="fi-calendar">&nbsp;{{ post.created_time }}</i></span>
                <span>&nbsp;<i class="fi-folder">&nbsp;<a href="{% url 'mysite:post_list_by_cate' cate_slug=post.category.id %}">{{ post.category }}</a></i></span>
                <span class="hide-for-small-only">&nbsp;<i class="fi-pricetag-multiple">
                {% for tag in post.tags.all %}
                    <a href="{% url 'mysite:post_list_by_tag' tag_slug=tag.id %}">{{ tag.name }}</a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
                </i></span>
                <span class="" style="float:right"><i class="fi-eye">{{ post.views }}</i>&nbsp;&nbsp;&nbsp;<i class="fi-comments">&nbsp;{{ post.comments.count }}</i></span>
            </div>
            {% endfor %}

           {% include 'pagination.html' with page=posts %}
        </div><!--List contents-->
        <!--sidebar-right-->
        {% include 'side-bar.html' %}
        <!--sidebar-right-->
    </div>
</div>
{% endblock %}