
<!--sidebar-right-->
<div class="small-12 medium-4 large-4 cell">
            <!--Tags-->
            <div class="callout">
                <b>所有标签</b>
                <hr />
                {% for tag_c in tags_list %}
                    <a href="{% url 'mysite:post_list_by_tag' tag_slug=tag_c.id %}">
                        <span class="label {% for tag_color in tags_color %}{% if tag_c.id == forloop.counter %}{{ tag_color }}{% endif %}{% endfor %}">
                        {{ tag_c.name }}
                        </span>
                    </a>
                {% endfor %}
            </div><!--Tags-->
            <!--Host article-->
            <div class="callout">
                <b>热文排行</b>
                <hr />
                <ul class="no-bullet">
                    {% for post in host_posts %}
                    <li><i class="fi-flag">&nbsp;</i><a href="{{ post.get_absolute_url }}" target="_blank">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div><!--Host article-->
            <!--Recent article-->
            <div class="callout">
                <b>最近更新</b>
                <hr />
                <ul class="no-bullet">
                    {% for post in recent_posts %}
                        <li><i class="fi-flag">&nbsp;</i><a href="{{ post.get_absolute_url }}" target="_blank">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div><!--Host article-->
            <!--new comments-->
            <div class="callout">
                <b>最新评论</b>
                <hr />
                <ul class="no-bullet">
                    {% for comment in comments_last %}
                    <li class="" style="margin-top:10px;border-bottom:1px solid #d6d6d6">
                        <i class="fi-pencil">&nbsp;</i><small><span style="color: #009933;">{{ comment.reader_name }}</span>:&nbsp;&nbsp;{{ comment.body|safe|truncatechars:30 }}.....<a href="{{ comment.post.get_absolute_url }}">more>></a></small>
                    </li>
                    {% endfor %}
                </ul>
            </div><!--new comments-->
        </div><!--sidebar-right-->
